<a href="https://colab.research.google.com/github/raghuram-kumar/python-datascience/blob/main/Advanced_Python_Programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Module 1

## 1.1 Different Techniques for Print Statement

In [ ]:
print ("My name is Raghuram Kumar")

My name is Raghuram Kumar

In [ ]:
print (""" Python is a high-level, general-purpose programming language.
Its design philosophy emphasizes code readability with the use of significant indentation.
Python is dynamically type-checked and garbage-collected.""")

 Python is a high-level, general-purpose programming language.
Its design philosophy emphasizes code readability with the use of significant indentation.
Python is dynamically type-checked and garbage-collected.

## 1.2 Create a Variable

In [ ]:
items_to_buy = "Eggs", "Yogurt"

In [ ]:
items_to_buy

('Eggs', 'Yogurt')

##==============================================================================

# Module 2

## 2.1 What is a String?

Anything which ia enclosed in quotes, we call it as string.

### 3 Data types in Python:

1. Int    - numbers without decimal points.
2. Float  - numbers with decimal points.
3. String - anything which is enclosed within quotes.

In [ ]:
avg_grade = "9.5"

In [ ]:
type(avg_grade)

str

In [ ]:
average_grade = 9.5

In [ ]:
type(average_grade)

float

##2.2 String Concatenation - Indexing & Slicing

In [ ]:
fname = "Sandhya"
lname = "Kumar"
age   = 25

In [ ]:
print(fname + ' ' + lname + '_' + str(age))  # An operation is performed

Sandhya Kumar_25

In [ ]:
print(fname, lname, '_', age)  # It just prints

Sandhya Kumar _ 25

In [ ]:
len(fname)

7

##2.3 Manipulate String with String Methods

In [ ]:
student_1 = "Arjun"
student_2 = "   Meera"
student_3 = "Rahul   "
student_4 = "   Lakshmi   "

In [ ]:
print(len(student_1), len(student_2), len(student_3), len(student_4))  # Check original lengths

5 8 8 13

In [ ]:
print(student_1, student_2, student_3, student_4)   # Print original values

Arjun    Meera Rahul       Lakshmi

In [ ]:
# Print each in a new line
print(student_1)
print(student_2)
print(student_3)
print(student_4)

Arjun
   Meera
Rahul
   Lakshmi

In [ ]:
# Check string method examples
print(student_1.isupper())

False

In [ ]:
# Using string methods
student_1 = student_1.upper()
student_2 = student_2.lstrip()
student_3 = student_3.rstrip()
student_4 = student_4.strip()

In [ ]:
# Print after applying methods
print(student_1)
print(student_2)
print(student_3)
print(student_4)

ARJUN
Meera
Rahul
Lakshmi

In [ ]:
# Print new lengths
print(len(student_1), len(student_2), len(student_3), len(student_4))

5 5 5 7

###Task 1: Come up with 2 String Function with any example

##2.4 Interact with User Input

In [ ]:
original_password = input("Enter your password: ")
original_password

Enter your password: Enterprise1?

'Enterprise1?'

In [ ]:
print("HINT!!! Your password starts with", original_password[0])

HINT!!! Your password starts with E

###Challenge: Get 2 inputs from the user and display it in one print *function*

In [ ]:
Project_Name = input("Enter your Project Name: ")
Project_StartDate = input("Enter your Project Start Date: ")
print(f"I am working on {Project_Name} project since {Project_StartDate}")

Enter your Project Name: Intrum
Enter your Project Start Date: March 2025
I am working on Intrum project since March 2025

###2.5 Challenge - 1

In [ ]:
client_name  = input("Your Name: ")
client_place = input("Place: ")

Your Name: Ram
Place: Ottawa

In [ ]:
print("The Client Name is " + client_name + " and the client is from " + client_place)
# Using + will concatenate (join) multiple strings together
# Disadvantage: Cannot mix numbers unless converted to string

The Client Name is Ram and the client is from Ottawa

In [ ]:
print("The Client Name is", client_name, "and the client is from", client_place)
# Comma automatically adds space and handles different data types

The Client Name is Ram and the client is from Ottawa

###2.6 Streamlining the Print Statement

In [ ]:
print("The Client name is {} and the client is from {}.".format(client_name, client_place))
# {} are placeholders that will be replaced by values passed into .format()
# Clean, readable and avoids manual spacing

The Client name is Ram and the client is from Ottawa.

##==============================================================================

#Module 3 - Numbers in Python

In [ ]:
student_gpa = abs(float(input("Enter your GPA:")))
student_gpa

Enter your GPA:-1.4

1.4

##==============================================================================

#Module 4 - Functions and Loops

##4.1 Write your Own Functions

###3 types of Functions:



*   Predefined Functions/Builtin functions - which will get automatically installed into your local machine when we install anaconda navigator.
*  Userdefined functions - user given functions, according to his own preferences - it is customizable function.
*  Anonymous functions - it is a nameless function, which is used for accomplish one operation at once.

In [1]:
#Step 1: Define your Function
#Step 2: Call your Function

In [4]:
def welcome_message():
    print("Welcome to Python Programming Course with AI Coach John")

In [5]:
welcome_message()

Welcome to Python Programming Course with AI Coach John

###Parameters and Arguments

In [6]:
def addition(first_name,second_name,third_number):   #Parameters - are the variables present while defining a function
    return first_name+second_name+third_number

In [7]:
addition(89,90,94)   #I'm passing arguments - only during Calling a particular function

273

###Positional Arguments

In [8]:
def get_details(name,place,expected_price):
    print("Client Name: ",name)
    print("Place:",place)
    print("Expected Price:",expected_price)

In [9]:
get_details(place="Ottawa",expected_price=134.25,name= "Raghu")

Client Name:  Raghu
Place: Ottawa
Expected Price: 134.25

###Default Parameters & Arguments

In [10]:
def get_details_chennai(name,place="Chennai",expected_price):
    print("Client Name: ",name)
    print("Place:",place)
    print("Expected Price:",expected_price)

SyntaxError: parameter without a default follows parameter with a default (ipython-input-604442350.py, line 1)

In [11]:
def get_details_chennai(name,expected_price,place="Chennai"):
    print("Client Name: ",name)
    print("Place:",place)
    print("Expected Price:",expected_price)

In [12]:
get_details_chennai(expected_price=95.5,name= "Krishnakumar")

Client Name:  Krishnakumar
Place: Chennai
Expected Price: 95.5

In [13]:
get_details_chennai(expected_price=95.5,name= "Krishnakumar",place="Bangalore")

Client Name:  Krishnakumar
Place: Bangalore
Expected Price: 95.5

###Variable-length argument

In [14]:
def get_details_chennai(name,place,*expected_price):
    print("Client Name:",name)
    print("Place:",place)
    print("Expected Price:",expected_price)

In [15]:
get_details_chennai("Krishnakumar","Bangalore",95.5,90,67,89)

Client Name: Krishnakumar
Place: Bangalore
Expected Price: (95.5, 90, 67, 89)

###Keyword Argument

In [16]:
def get_details_chennai(name,place,**expected_price):
    print("Client Name:",name)
    print("Place:",place)
    print("Expected Price:",expected_price)

In [17]:
get_details_chennai("Krishnakumar","Bangalore",ask_1 = 95.5,ask_2 = 90,ask_4=67,ask_3=89)

Client Name: Krishnakumar
Place: Bangalore
Expected Price: {'ask_1': 95.5, 'ask_2': 90, 'ask_4': 67, 'ask_3': 89}

##4.2 Run in Circles

In [19]:
for i in range(0,7,3):
    print(i)

0
3
6

##4.3 Challenge to build a user-defined function with for loop

In [20]:
def line_by_line_output(company_name):
    for i in company_name:
        print(i)

In [21]:
line_by_line_output("CORE MIGRATION")

C
O
R
E

M
I
G
R
A
T
I
O
N

##==============================================================================

#Module 5 Conditional Logic

##5.1 Compare Values

In [24]:
7 == 7

True

In [25]:
7 != 7

False

In [26]:
5/2  #it returns quotient

2.5

In [27]:
5%2

1

##5.2 Add some logic

In [28]:
english_marks = 89
maths_marks   = 90
tamil_marks   = 99

In [29]:
english_marks > maths_marks

False

In [30]:
english_marks < tamil_marks

True

###>>>>> Different Operators in Python <<<<<<<<
###AND Operator - will return True, only if both conditions is True.
###OR Operator - will return True if anyone condition is True.
###IN operator - we use to check if that particular word is available in my data.
###NOT IN operator - we use to check if that particular word is not available in my data.

In [31]:
english_marks > maths_marks and english_marks < tamil_marks

False

In [32]:
english_marks > maths_marks or english_marks < tamil_marks

True

In [33]:
your_feedbacks = "AI Coach John's Session is not that good. It's pretty bad"
your_feedbacks

"AI Coach John's Session is not that good. It's pretty bad"

In [34]:
"good" in your_feedbacks

True

In [35]:
"good" not in your_feedbacks

False

##5.3 Control the Flow of the program

In [45]:
user_password = input("New Password:")

if len(user_password)<5:
    print("WEAK Password")
else:
    print("STRONG Password")

New Password:Hello123
STRONG Password

In [46]:
user_password = input("New Password:")

if len(user_password) < 5:
    print("WEAK Password")
else:
    print("STRONG Password")

New Password:sdsdsdada
STRONG Password

##5.4 Challenge-2 Find the Factors of a Number

If the user enters 20, output should be "The factors of 20 is 1,2,4,5,10,20"

In [9]:
user_number = int(input("Enter a Number: "))

print(f"The factors of {user_number} are:", end=" ")

for i in range(1, user_number+1):
    if user_number % i == 0:
        print(i, end=",")

Enter a Number: 25
The factors of 25 are: 1,5,25,

In [10]:
user_input = int(input("Enter your number: "))

result = []
for i in range(1,user_input+1):
    if user_input%i==0:
        result.append(i)
print("The factors of {} are {}".format(user_input,result))

Enter your number: 30
The factors of 30 are [1, 2, 3, 5, 6, 10, 15, 30]

##5.5 Break Out of a Pattern

In [13]:
while True:
  exit_code = input("Enter the secret code to exit this window: ")
  if exit_code.lower() == 'q':
    break

Enter the secret code to exit this window: sdsd
Enter the secret code to exit this window: sd
Enter the secret code to exit this window: e
Enter the secret code to exit this window: t
Enter the secret code to exit this window: d
Enter the secret code to exit this window: s
Enter the secret code to exit this window: g
Enter the secret code to exit this window: W
Enter the secret code to exit this window: q

##THE END!!